# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
/build
/reports
/test-reports

# dependencies
/node_modules
**/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.angular/cache
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

# SSL
/ssl/*.crt
/ssl/*.key
/tools/ssl-generator/**.key
/tools/ssl-generator/**.pem
/tools/ssl-generator/**.srl
/tools/ssl-generator/**.crt
/tools/ssl-generator/**.csr

reports
test-reports
documentation
.angular
