build
coverage
dist
documentation
reports
test-reports
package-lock.json


# Generators
tools/generators/lib-generator/stories/__componentFileName__.stories.ts
tools/generators/lib-generator/test-vr/visual-regression/__componentFileName__.vr-spec.ts