language: node_js
node_js:
    - '10'
sudo: required
dist: trusty
addons:
    chrome: stable
    sonarcloud:
        organization: 'rickvandermey'
        token:
            secure: $SONAR_TOKEN
cache:
    directories:
        - $HOME/.npm
before_install:
    - export CHROME_BIN=chromium-browser
    - export DISPLAY=:99.0
    - sh -e /etc/init.d/xvfb start
install:
    - npm install codecov -g
    - npm ci
script:
    - npm run lint
    - npm run test:unit-headless
    - npm run test:e2e --headless
    - npm run prerender:build
    - sonar-scanner
after_success:
    - codecov
