language: node_js
node_js:
    - '14'
sudo: required
dist: xenial
services:
    - docker
addons:
    apt:
        packages:
            - libgconf-2-4
            - xvfb
    chrome: stable
    sonarcloud:
        organization: 'rickvandermey'
        token: $SONAR_TOKEN
cache:
    directories:
        - $HOME/.npm
        - $HOME/.cache
        - $HOME/ssl
before_install:
    - export DISPLAY=:99.0
    - docker run mcr.microsoft.com/playwright:v1.18.0-focal
install:
    - npm install codecov -g
    - npm ci
    - npx playwright install
    - export DISPLAY=':99.0'
    - Xvfb :99 -screen 0 1024x768x24 > /dev/null 2>&1 &
script:
    - git config remote.origin.fetch "+refs/heads/*:refs/remotes/origin/*"
    - git fetch --depth=200 origin
    - npm run affected:lint
    - npm run affected:test-ci
    - npm run certificate:copy
    - npm run affected:e2e
    - npx start-server-and-test 'nx run components-button:build-storybook && http-server dist/storybook/components-button -s -p 4400' 4400 'npx playwright test --config=playwright-ci.config.ts
    - npm run affected:build-ci
    - sonar-scanner
after_success:
    - codecov
