<section class="page">
	<div>
		<h1 test-id="title">{{ 'hello' | translate: { value: 'world' } }}</h1>
		<p test-id="home-page-description">
			{{ 'hello-description' | translate }}
		</p>
	</div>
	<hr />
	<div>
		<h2>NGRX Entity Adapter</h2>
		<ng-container *ngFor="let entity of entities">
			<dl>
				<dt>Guid:</dt>
				<dd>{{ entity.guid }}</dd>
				<dt>Country ISO:</dt>
				<dd>{{ entity.country }}</dd>
				<dt>Currency ISO:</dt>
				<dd>{{ entity.currency }}</dd>
				<dt>Dateformat:</dt>
				<dd>{{ entity.dateFormat }}</dd>
				<dt>Email:</dt>
				<dd>{{ entity.email }}</dd>
			</dl>
			<markdown [data]="entity.markdown"></markdown>
			<hr />
		</ng-container>
	</div>
</section>
